@import "../../layouts/Consts.scss";

.friends {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  background: $background-mid;

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px 10px 0px;
  }

  &__profile {
    align-self: flex-end;

    &::after {
      content: '>';
      margin-left: 5px;
    }
  }

  &__search {
    margin-top: 20px;
  }

  &__list {
    list-style-type: none;
    flex: 1;
    padding-top: 30px;
  }
}