@import "../../layouts/Consts.scss";

.field {

  &--long {
    position: relative;
    border-bottom: 1px solid #999;
    padding-bottom: 3px;
  }

  &__description {
    margin-bottom: 3px;

    &--long {
      position: absolute;
    }
  }

  &__input {
    padding-bottom: 3px;
    border-bottom: 1px solid #999;
    color: $light-grey;

    &--long {
      padding-left: 40%;
      text-align: right;
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  
}
