$grey: #999;
$light-grey: #ccc;
$blue: #42a5f5;
$red: #f54242;
$blue-dark: #2d70a6;
$yellow: #ffca2b;
$background-dark: #1d1e1d;
$background-mid: #252525;
$background-light: #4f4f56;
$base-font-size: 16px;
$time: 0.3s;
