$grey: #999;
$light-grey: #ccc;
$blue: #42A5F5;
$red: #f54242;
$blue-dark: #2d70a6;
$yellow: #FFCA2B;
$background-dark: #1D1E1D;
$background-mid: #252525;
$background-light: #4F4F56;
$baseFontSize: 16px;
$time: 0.3s;
