@import "./Consts";

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-self: center;

  &--sign {
    width: 340px;
    background-color: #4f4f56;
    border-radius: 12px;
    padding: 30px;
  }

  &--user {
    width: 510px;
    background-color: transparent;
  }

  &--popup {
    width: 340px;
    background-color: #4f4f56;
    border-radius: 12px;
    padding: 30px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: $light-grey;
  }

  &__field {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__actions {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
  }

  &__btn {
    width: 280px;
    margin: 0 auto;
  }

  &__link {
    align-self: center;
  }

  &__avatar {
    align-self: center;
    width: 130px;
    height: 130px;
  }
}
