@import "../../layouts/Consts.scss";

.message {
  position: relative;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 4px;
  max-width: 50%;

  &:last-child {
    margin-bottom: 0;
  }

  &--another {
    align-self: flex-start;
  }

  &__content {
    color: $light-grey;
    background-color: $background-light;
    padding: 9px 60px 9px 11px;
    border-radius: 5px;
  }

  &__time {
    position: absolute;
    color: $grey;
    right: 10px;
    bottom: 4px;
  }

  &__name {
    color: #5387C1;
    margin-bottom: 4px;
  }

  &__img {
    position: absolute;
    right: -50px;
    bottom: 4px;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    object-fit: cover;

    &--another {
      left: -50px;
    }
  }
}
